div.activity {
  padding: 50px 100px 50px 230px;
  background-color: white;
  overflow-x: hidden;
  h3.title {
    color: rgb(248, 165, 166);
    font-size: 5.5rem;
    margin: 50px 0;
  }
  div.something {
    height: 17px;
    background-color: rgb(248, 165, 166);
    width: 100px;
  }
  h4.subtitle {
    color: rgb(114, 113, 113);
    font-size: 2rem;
    font-weight: lighter;
  }
  div.content {
    display: flex;
    flex-wrap: wrap;
    div.subcontent {
      width: 50%;
      padding-right: 10%;
      box-sizing: border-box;
      div.section {
        p {
          color: rgb(114, 113, 113);
          line-height: 1.5;
          margin-top: 0;
          margin-bottom: 20px;
          font-size: 1.1rem;
        }
        &.first {
          padding-bottom: 60px;
          box-sizing: border-box;
          border-bottom: solid 6px rgb(248, 165, 166);
        }
      }
      
    }
    div.img-div {
      width: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  div.activity {
    padding: 30px;
    h3.title {
      font-size: 2.5rem;
      margin: 20px 0;
    }
    div.something {
      height: 10px;
    }
    h4.subtitle {
      font-size: 1.3rem;
    }
    div.content {
      div.subcontent {
        width: 100%;
      }
      div.img-div {
        width: 70%;
      }
    }
  }
}