<div class="activity" #content>
  <h3 class="title" appAppear (appear)="onAppear('titleState')" [@titleState]="titleState">
    What is Dream On?
  </h3>
  <div class="something" appAppear (appear)="onAppear('somethingState')" [@titleState]="somethingState"></div>
  <h4 class="subtitle" appAppear (appear)="onAppear('firstSubtitleState')" [@contentState]="firstSubtitleState">
    什麼是"Action！Dream On！美商玫琳凱 夢想啟動商業競賽"？
  </h4>
  <div class="content">
    <div class="subcontent">
      <div class="section first" appAppear (appear)="onAppear('firstContentState')" [@contentState]="firstContentState">
        <p>正邁入55週年的全球百大公司之一的Mary Kay，為了延續企業回饋社會、栽培後進的理念，特別於2018年盛大舉辦<b>夢想啟動商業競賽</b>。</p>
        <p>於整個徵選過程，Mary Kay Taiwan將提供專業企劃案書寫、1對1企業導師制度、工作坊以及專業課程，實際執行與操作腦海中的好點子！你將有機會深入了解玫琳凱的企業文化、產品、行銷模式，全面性學習一個成功的企業在執案子時會遇到的各種情況！</p>
        <p>還在躊躇的你，別猶豫了！</p>
        <p>你將有機會深入了解玫琳凱的企業文化、產品、行銷模式，全面性學習一個成功的企業在執行案子時會遇到的各種情況！</p>
        
      </div>
      <div class="section second">
        <h4 class="subtitle" appAppear (appear)="onAppear('secondSubtitleState')" [@contentState]="secondSubtitleState">
          報名資格
        </h4>
        <p appAppear (appear)="onAppear('secondContentState')" [@contentState]="secondContentState">三至五人一隊，具台灣學籍不限科系、年級之大專院校學生，只要有熱情、理想就可以參加。</p>
      </div>
      
    </div>
    <div class="img-div">
      <img src="/assets/imgs/activity.jpg" alt="">
    </div>
  </div>
  
</div>