<div class="about" #content>
  <div class="section first-section">
    <div class="content col first-col">
      <h3 appAppear (appear)="onAppear('firstTitleState')" [@titleState]="firstTitleState" class="title">
        What<br> is Mary Kay
      </h3>
      <div appAppear (appear)="onAppear('firstContentState')" [@contentState]="firstContentState">
        <p>成立於1963年，總部位於美國達拉斯。</p>
        <p>玫琳凱堅信：你要別人怎樣對待你，你也要怎樣對待別人這個黃金法則，並大力提倡“信念第一、家庭第二、事業第三”的生活優先次序。人們常評論說，玫琳凱女在銷售她的產品的同時，也在銷售她的工作及生活哲學。玫琳凱女士最重要的貢獻莫過於他以己身的企業文化不段激勵世界各地的女性，鼓勵他們成為自己的小型企業經營者。獨特的企業經營理念及企業價值觀，不僅適合化妝品公司，適合其他各類公司，更贏得企業界廣泛的認同。</p>
      </div>
    </div>
    <div class="col second-col parallax">

    </div>
  </div>
  <div class="section second-section">
    <div class="col first-col parallax">

    </div>
    <div class="content col second-col">
      <h3 appAppear (appear)="onAppear('secondTitleState')" [@titleState]="secondTitleState" class="title">
        Mary Kay <br> Taiwan
      </h3>
      <div appAppear (appear)="onAppear('secondContentState')" [@contentState]="secondContentState">
        <p>於1990年在台灣深根，致力於發揚玫琳凱女士的企業精神，不定期舉辦愛心公益、長期與家扶基金會合作。</p>
        <p>透過不斷的挑戰、轉型，造就現在的玫琳凱台灣，成為大中華區的領頭羊。</p>
      </div>
      
    </div>
    <div class="col third-col parallax">

    </div>
  </div>
  <div class="section third-section parallax">
    <div class="col first-col">
      <div appAppear (appear)="onAppear('thirdTitleState')" [@titleState]="thirdTitleState">
        <h3>WE</h3>
        <h3>WANT</h3>
        <h3>YOU</h3>
      </div>
      
    </div>
    <div class="col second-col">
      <div appAppear (appear)="onAppear('thirdContentState')" [@contentState]="thirdContentState">
        <p>The first step is the hardest- making a commitment to yourself, for yourself. <br> -Mary Kay Ash</p>
        <p>What are you waiting for! <br>Step out of your comfort zone! <br>Come and learn more about campus brand manager!</p>
        <h4>一起來場粉紅冒險吧！</h4>
      </div>
      
    </div>
  </div>
</div>