div.apply {
  background-color: rgba(51, 51, 51, 0.72);
  padding: 130px;
  overflow-x: hidden;
  div.flex-box {
    display: flex;
    justify-content: center;
    &.first {
      margin-bottom: 100px;
    }
  }
  div.logo {
    color: white;
    border: solid 3px white;
    padding: 40px;
    h4.subtitle {
      font-weight: 100;
      margin: 0;
      text-align: center;
      font-size: 25px;
    }
    h3.title {
      font-weight: 100;
      margin: 0;
      text-align: center;
      font-size: 60px;
      letter-spacing: 6px;
    }
    div.divider {
      height: 6px;
      background-color: white;
      width: 55px;
      margin: 40px auto;
    }
    h4.footer {
      font-weight: 100;
      margin: 0;
      text-align: center;
      font-size: 20px;
    }
  }
  button.apply-btn {
    background-color: transparent;
    border: solid 1px #fcb2b2;
    padding: 10px 30px;
    color: #fcb2b2;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    transition: color 0.3s ease, border 0.3s ease;
    &:hover {
      color: rgb(197, 16, 82);
      border: solid 1px rgb(197, 16, 82);
    }
  }
}

@media (max-width: 767px) {
  div.apply {
    padding: 80px 20px;
    div.flex-box {
      &.first {
        margin-bottom: 50px;
      }
    }
    div.logo {
      padding: 20px;
      h4.subtitle {
        font-size: 10px;
      }
      h3.title {
        font-size: 30px;
      }
      div.divider {
        height: 3px;
        width: 40px;
        margin: 30px auto;
      }
      h4.footer {
        font-size: 15px;
      }
    }
  }
  
}