@import '../../../sass/variable.scss';
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 100;
  .buttons {
    float: right;
    line-height: 65px;
    a {
      text-decoration: unset;
      font-size: 17px;
      color: white;
      margin-right: 25px;
      
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: $marykay-pink;
      }
      &.selected {
        color: $marykay-pink;
      }
    }
  }
}
@media (max-width: 767px) {
  .navbar {
    height: 50px;
    .buttons {
      line-height: 50px;
      a {
        font-size: 9px;
        margin-right: 5px;
      }
    }
  }
}