@import '../../../sass/variable.scss';
div.apply-form  {
  // overflow-x: hidden;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
  background-color: rgba(51, 51, 51, 0.4);
  div.content {
    max-width: 600px;
    margin: auto;
    h3.title {
      color: white;
      font-size: 80px;
      margin: 0;
      margin-bottom: 30px;
    }
    h4.subtitle {
      color: white;
      font-size: 20px;
      font-weight: lighter;
      margin: 0;
    }
    form {
      margin-top: 100px;
      div.form-block {
        margin-bottom: 30px;
        div.row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
        }
        input, textarea {
          width: 100%;
          margin: 8.5px 10px;
          font-size: 1rem;
          border: 1px solid #f4c9c9;
          line-height: 1.8;
          padding: 5px;
          background-color: transparent;
          color: white;
          outline: none;
          &.error {
            border: 1px solid red;
          }
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #f4c9c9;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #f4c9c9;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #f4c9c9;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #f4c9c9;
        }
      }
      button[type=submit] {
        width: 100%;
        margin: 0 8.5px;
        font-size: 1rem;
        background-color: #f4c9c9;
        color: white;
        line-height: 2;
        outline: none;
        cursor: pointer;
        border: unset;
      }
    }
    
  }
}

@media (max-width: 767px) {
  div.apply-form {
    div.content {
      max-width: 600px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      h3.title {
        font-size: 40px;
      }
      h4.subtitle {
        font-size: 15px;
      }
      form {
        margin-top: 40px;
        div.form-block {
          margin-bottom: 30px;
        }
      }
    }
  }
}