<div class="timeline-item" appAppear (appear)="onAppear('state')" [@contentState]="state">
  <div class="left">
    <h3 class="title" *ngIf="item.titleLeft">
      {{item.title}}
    </h3>
    <h4 class="subtitle" *ngIf="!item.titleLeft">
      {{item.subtitle}}
    </h4>
  </div>
  
  <div class="circle"></div>
  <div class="right">
    <h3 class="title" *ngIf="!item.titleLeft">
      {{item.title}}
    </h3>
    <h4 class="subtitle" *ngIf="item.titleLeft">
      {{item.subtitle}}
    </h4>
  </div>
  
  <div class="content" *ngIf="item.content.title">
    <h3 class="content-title">
      {{item.content.title}}
    </h3>
    <p *ngFor="let p of item.content.paragraphs">
      {{p}}
    </p>
    <div class="row">
      <button *ngIf="item.title==='MAR'">> What is MaryKayChallenges</button>
    </div>
  </div>
  <div class="one-line-content" *ngIf="!item.content.title">
    <h3 class="one-line-title" [ngClass]="{'big': item.title === 'JUN'}">
      {{item.content}}
    </h3>
  </div>
</div>