div.timeline-item {
  position: relative;
  color: white;
  padding-bottom: 100px;
  div.left {
    display: inline-block;
    position: absolute;
    left: -120px;
  }
  div.right {
    display: inline-block;
    position: absolute;
    left: 30px;
  }
  h3.title {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
  }
  div.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(248, 165, 166);
    position: absolute;
    left: -10px;
    top: 5px;
  }
  h4.subtitle {
    font-weight: lighter;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
  .content {
    margin-left: 150px;
    border: solid 1px rgb(248, 165, 166);
    padding: 20px;
    width: 300px;
    h3.content-title {
      font-weight: lighter;
      margin: 0;
      font-size: 19px;
      margin-bottom: 30px;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
      margin: 0;
      font-weight: 100;
      line-height: 1.6;
      font-size: 14px;
      margin-top: 10px;
    }
    div.row {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
  .one-line-content {
    margin-left: 150px;
    h3.one-line-title {
      color: rgb(248, 165, 166);
      font-size: 18px;
      font-weight: lighter;
      &.big {
        font-size: 30px;
      }
    }
  }
}

@media (max-height: 767px) {
  div.timeline-item {
    padding-top: 30px;
    padding-bottom: 50px;
    div.left {
      left: -80px;
      top: 0px;
    }
    div.right {
      left: 16px;
      top: 0px;
    }
    h3.title {
      margin: 0;
      font-size: 16px;
    }
    h4.subtitle {
      font-size: 10px;
      line-height: 16px;
    }
    div.circle {
      width: 14px;
      height: 14px;
      left: -7px;
      top: 2px;
    }
    .content {
      margin-left: 20px;
      padding: 10px;
      width: calc(100% - 50px);
      h3.content-title {
        font-size: 14px;
        margin-bottom: 10px;
      }
      p {
        font-size: 10px;
        line-height: 1.6;
        margin: 5px 0;
      }
    }
    .one-line-content {
      margin-left: 20px;
      h3.one-line-title {
        font-size: 14px;
        &.big {
          font-size: 20px;
        }
      }
    }
  }
}